.bgFun(@url){
    background:url(@url) no-repeat 0 0;
    //background-size:100% auto;
    background-size:contain;
}

.lineHeight(@h){
    height:@h;
    line-height:@h;
}
form, ul, ol, li, a, input, p, em, label, select, textarea, h1, h2, h3, h4, img,button {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    outline: none;
    font-weight:500;
}
select{opacity:0;}
body, div, ul, form, ol, ul, li, a, input, p, span, i, h1, h2, h3, select, option, table,td,button{
    tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust:none;
    -webkit-appearance: none;
}

/*loading*/
.pageload{
    position:fixed;
    width:100%;
    height:100%;
    background:#fff;
    z-index: 1000;
}
.pageload span {
    position: fixed;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -10px;
    border-radius: 50%;
    visibility:visible;
    opacity: 1;
}

.pageload  .after {
    background: #6cc88a;
    animation: moveRight .8s linear infinite alternate;
}

.pageload .before {
    background: #4fc3f7;
    animation: moveLeft .8s linear infinite alternate;
}

@keyframes moveRight {
    0% { transform: translateX(-20px); }
    100% { transform: translateX(20px); }
}

@keyframes moveLeft {
    0% { transform: translateX(20px); }
    100% { transform: translateX(-20px); }
}
